
<section class="container">
<p class="first">
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email Address </strong>
  <%= @user.email %>
</p>

<p> <%= link_to 'Your Orders', orders_path %> </p>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</section>