<p id="notice"><%= notice %></p>
<div class="container">
  <div class = "jumbotron" id="main_jumbo">
    <h1>The Meme Store !</h1>
    <h2>The only *fake* store where you can buy the funniest programming memes!</h2>
  </div>
</div>
<div class="container">
  <div class = "jumbotron" id="products_jumbo">
    <div class="container">
      <div class ="col-xs-12">
          <h1>Featured Meme of the Day</h1>
      </div>
      <div class="col-xs-12">
        <% for i in 2..2 do %>
          <a href = "products/<%=@products[i].id%>">
           <img class="products img-responsive" src= "<%= @products[i].image_url %>"></img>
          </a>
      </div>
        <% end %>
    </div>
  </div>
</div>
<div class="container" id="products_contain">
  <h1>You know you want one!</h1>
    <div class ="row">
      <% @products.each do |product| %>
        <div class ="col-xs-12 col-md-6">
          <a href = "products/<%=product.id%>">
            <img class="img-responsive products" src= "<%= product.image_url %>"></img>
          </a>
        </div>
            <% end %>
        
      </div>
</div>  