<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  
  <img src= <%= @product.image_url %> alt="image">
</p>
<p>
  <strong>Price:</strong>
  
  <%=
  #add "$" and drop the last two zeroes becuz stripe is dumb, unless product is nil.
  if (@product.price == nil)
    @product.price
    else
  "$"+(@product.price.chop.chop)
  end %>
</p>
<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>
<div class="pay-button"<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %></div>
<%= render 'new_comment' %>
<%= render 'list_comments' %>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
